# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
*.dbf
*.prj
*.shp
*.shx
/.gradle/
/build/
/kafka_2.12-2.5.1/*
.eslintcache


/src/main/resources/META-INF/resources/avatars/*
/src/main/resources/META-INF/resources/static/*
/src/main/resources/META-INF/resources/asset-manifest.json
/src/main/resources/META-INF/resources/favicon.ico
/src/main/resources/META-INF/resources/index.html
/src/main/resources/META-INF/resources/manifest.json
/src/main/resources/META-INF/resources/user.png
